<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3-2.7-dist/css/bootstrap.css">
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
    用户名：<input type="text">
    密码：<input type="text">
    <input type="submit" value="提交">
</form>


<ul class="pagination">
    <li><a href="">上一页</a></li>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">下一页</a></li>
</ul>


</body>
</html>