<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest Manage</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/plugins/bootstrap/js/bootstrap.js">
</head>
<body role="document">

<!--导航栏-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/event_manage/">Guest Manage System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/event_manage/">发布会</a></li>
                <li class="active"><a href="#">嘉宾</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ user }}</a></li>
                <li><a href="/logout/">退出</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 发布会搜索表单 -->
<div class="page-header" style="padding-top: 60px;">
    <div id="navbar" class="navbar-collapse collapse">
        <form action="/search_name/" class="navbar-form" method="get">
            <div class="form-group">
                <input type="text" name="name" placeholder="名称" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">搜索</button>
        </form>
    </div>
</div>

<!-- 嘉宾列表 -->
<div class="row" style="padding-top: 20px;">
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>名称</th>
                <th>手机</th>
                <th>Email</th>
                <th>签到</th>
                <th>发布会</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for item in guests %}
                    <td>{{ item.id }}</td>
                    <td>{{ item.realname }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.sign }}</td>
                    <td>{{ item.event }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<!-- 列表分页器 -->
<div class="pagination">
    <span class="step-links">
        {% if guests.has_previous %}
            <a href="?page={{ guests.previous_page_number }}">上一页</a>
        {% endif %}
        <span class="current">
            Page {{ guests.number }} of {{ guests.paginator.num_pages }}.
        </span>
        {% if guests.has_next %}
            <a href="?page={{ guests.next_page_number }}">下一页</a>
        {% endif %}
    </span>
</div>
</body>
</html>