<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1189580_mtnb5by17j.css">
    <script src="../../dist/js/jquery.min.js"></script>
    <script src="../../dist/js/login.min.js"></script>
    <link rel="stylesheet" href="../../dist/css/login.min.css">
</head>
<body>

<div class="mask-wrapper">
    <form action="">
        <input type="button" value="注册/登陆" class="register-btn">

        <div class="box-outside">
            <div class="close"><i class="icon-hebingxingzhuang iconfont"></i></div>
            <div class="box-inside">
                <div class="signin-block auth-group">
                    <div class="top-group">
                        <span class="title">请登陆</span>
                        <a class="switch">立即注册></a>
                    </div>
                    <div class="bottom-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="telephone" placeholder="手机号码">
                        </div>
                        <div class="input-group">
                            <input type="password" class="form-control" name="password" placeholder="密码">
                        </div>
                        <div class="input-group">
                            <label for="remember">
                                <input type="checkbox" class="form-control" id="remember" name="rememberme" value="1">记住我
                            </label>
                        </div>
                        <div class="input-group">
                            <input type="submit" class="form-submit" value="登陆">
                        </div>
                    </div>
                </div>
                <div class="signup-block auth-group">
                    <div class="top-group">
                        <span class="title">请注册</span>
                        <a class="switch">立即登陆></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>