<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>注册</title>
</head>
<body>

<h1>学生注册</h1>
<hr>
<form action="{% url 'reg' %}" method="post">
    <p>姓名<input type="text" name="user"></p>
    <p>年龄<input type="text" name="age"></p>
    <p>性别<input type="text" name="gender"></p>
    <p>爱好<input type="checkbox" name="hobby" value="1" id="baskerball"><label for="baskerball">篮球</label>
        <input type="checkbox" name="hobby" value="2" id="football"><label for="football">足球</label>
        <input type="checkbox" name="hobby" value="3" id="pingping"><label for="pingping">乒乓球</label>
    </p>
    <p><input type="submit" value="提交"></p>
</form>

</body>
</html>