<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/edit_students.html?nid={{ stu_obj.id }}" method="post">
    {% csrf_token %}
    <h1>修改用户</h1>
    <p><input type="text" name="username" value="{{ stu_obj.username }}"></p>
    <p><input type="text" name="age" value="{{ stu_obj.age }}"/></p>
    <p>
        {% if stu_obj.gender %}
            <label for="male">男</label><input type="radio" name="gender" id="male" value="1" checked="checked">
            <label for="female">女</label><input type="radio" name="gender" id="female" value="0">
        {% else %}
            <label for="male">男</label><input type="radio" name="gender" id="male" value="1">
            <label for="female">女</label><input type="radio" name="gender" id="female" value="0" checked="checked">
        {% endif %}
    </p>
    <p>
        <select name="cs" id="">
            {% for row in cs_obj %}
                {% if row.id == stu_obj.cs_id %}
                    <option value="{{ row.id }}" selected="selected">{{ row.title }}</option>
                {% else %}
                    <option value="{{ row.id }}">{{ row.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p><input type="submit" value="提交"></p>
</form>
</body>
</html>