{% load static %}
<html lang="zh">
<head>
    <meta charset="utf-8">
    <title>首页-Ericamblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ericam_">

    <!-- CSS -->
    <link rel="shortcut icon" href="{% static 'images/gt_favicon.png' %}">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
</head>

<body class="back">
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--导航栏-->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        <div class="container-fluid">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <a class="navbar-brand"><img src="{% static 'images/lo.png' %}" alt="Progressus HTML5 template"></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a><font size="4" color="white">{{ user.nickname }}</font></a></li>
                <li><a href="{% url 'index_unlog' %}"><i class="fa fa-sighout"></i><font size="4">注销</font></a></li>
            </ul>
        </div>
    </div>
</div>

<center>
    <!--
    <div class="container" style="padding-top:300px;min-height:700px">
        <div class="row">,.
            <p class="lead"><font color="white">Easy-Download,这里有好多好多资源喔，尽情的享用吧(〃'▽'〃)</font></p>
            <p class="tagline"><font color="white">如果您有优秀的资源，欢迎投递哦</font></p>
            <p><a class="btn btn-action btn-lg" role="button" href="#">START NOW</a></p>
        </div>
    </div>
    -->

    <div class="container-fluid" style="margin-top: 120px">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-warning">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-danger">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="article_list">
                    {% for article in article_list %}
                        <div class="article-item small">
                            <h5>
                                <a href="/{{ article.user.username }}/articles/{{ article.pk }}">{{ article.title }}</a>
                            </h5>
                            <div class="article-desc">
                                <span class="media-left">
                                    <a href="/{{ article.user.username }}/">
                                        <img width="56" height="56" src="media/{{ article.user.avatar }}" alt="">
                                    </a>
                                </span>
                                <span class="media-right">
                                    {{ article.desc }}
                                </span>
                            </div>
                            <div class="small pub_info">
                                <span>
                                    <a href="/{{ article.user.username }}/">
                                        {{ article.user.username }}
                                    </a>
                                </span>
                                &nbsp;&nbsp;&nbsp;
                                <span>发布于 &nbsp;&nbsp;{{ article.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-comment"></span>评论({{ article.comment_count }})&nbsp;&nbsp;
                                <span class="glyphicon glyphicon-thumbs-up"></span>点赞({{ article.up_count }})&nbsp;&nbsp;
                            </div>
                        </div>
                        <hr>
                    {% endfor %}

                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Panel heading without title</div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>


<footer id="footer" class="top-space navbar-fixed-bottom">
    <div class="footer2">
        <div class="container">
            <p class="text-center">Copyright &copy; 2020, Ericamblog</p>
        </div>
    </div>
</footer>
</body>
</html>
